<!-- Views/Habitaciones/Eliminar.cshtml -->
@model HotelManager.Models.VM.HabitacionesVM

@{
    ViewData["Title"] = "Confirmar Eliminación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirmar Eliminación</h1>

<p>¿Estás seguro de que deseas eliminar la habitación con número @Model.Numero?</p>

<form asp-action="EliminarConfirmacion" asp-route-id="@Model.IDHabitacion" method="post">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

