@model HotelManager.Models.CorrelativoSAR

@{
    ViewData["Title"] = "Registrar Correlativo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Correlativo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroCAI" class="control-label"></label>
                <input asp-for="NumeroCAI" class="form-control" />
                <span asp-validation-for="NumeroCAI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroInicial" class="control-label"></label>
                <input asp-for="NumeroInicial" class="form-control" />
                <span asp-validation-for="NumeroInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFinal" class="control-label"></label>
                <input asp-for="NumeroFinal" class="form-control" />
                <span asp-validation-for="NumeroFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicial" class="control-label"></label>
                <input asp-for="FechaInicial" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="FechaInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLimite" class="control-label"></label>
                <input asp-for="FechaLimite" class="form-control" />
                <span asp-validation-for="FechaLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
