@model HotelManager.Models.ServicioHotel

@{
    ViewData["Title"] = "ServicioHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="mt-5" />
<hr class="mt-5" />
<h2 class="text-center border-bottom">ServicioHotel</h2>

<div>
    <a asp-action="Index">Regresar a ServicioHotel</a>
</div>

<div class="container">

    <div class="row m-4">

        <div class="col-md-4 border">

            <h4>Cliente</h4>
            <form asp-action="Create" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NombreServicio" class="control-label">Nombre de Servicio </label>
                    <input asp-for="NombreServicio" class="form-control" />
                    <span asp-validation-for="NombreServicio" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                </div>


                <div class="form-group">
                    <label asp-for="Duracion" class="control-label">Duracion</label>
                    <input asp-for="Duracion" class="form-control" />
                    <span asp-validation-for="Duracion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tarifa" class="control-label">Tarifa</label>
                    <input asp-for="Tarifa" class="form-control" />
                </div>



            </form>

        </div>




    </div>

