@model HotelManager.Models.Reserva

@{
    ViewData["Title"] = "Reservar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="mt-5" />
<hr class="mt-5" />
<h2 class="text-center border-bottom">Reservar para un Cliente</h2>

<div>
    <a asp-action="Index">Regresar a Reservas</a>
</div>

<div class="container">

    <div class="row m-4">

        <div class="col-md-4 border p-3">

            <h4>Cliente</h4>
            <form asp-action="Create" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-4" style="display:none;">
                    <label asp-for="IDUsuario" class="control-label">ID del Cliente</label>
                    <input asp-for="IDUsuario" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="NumeroIdentidad" class="control-label">Número de Identidad</label>
                    <input asp-for="NumeroIdentidad" class="form-control" />
                    <span asp-validation-for="NumeroIdentidad" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                </div>

                <!-- Agrega el campo de correo electrónico -->
                <div class="form-group">
                    <label asp-for="CorreoElectronico" class="control-label">Correo Electrónico</label>
                    <input asp-for="CorreoElectronico" class="form-control" />
                    <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label">Número de Teléfono</label>
                    <input asp-for="Telefono" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Direccion" class="control-label">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                </div>

                <!-- Añade el botón de búsqueda -->
                <div class="form-group mb-3">
                    <button type="button" class="btn btn-primary" id="btnBuscarUsuario">Buscar Usuario</button>
                </div>

                </form>

        </div>

        <div class="col-md-4 border p-3">

            <h4>Habitación</h4>
            <form asp-action="Create" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- IDHabitacion -->
                    <div class="form-group">
                        <label asp-for="IDHabitacion" class="control-label"></label>
                    <input asp-for="IDHabitacion" class="form-control" onchange="updateTarifa()"></input>
                    </div>

                    <!-- TarifaHabitacion -->
                    <div class="form-group">
                        <label for="TarifaHabitacion" class="control-label">Tarifa de la habitación</label>
                        <input id="TarifaHabitacion" class="form-control" readonly />
                    </div>
                </form>

        </div>

        <div class="col-md-4 border p-3">

            <h4>Estadía</h4>
            <form asp-action="Create" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- FechaCheckin -->
                <div class="form-group mb-3">
                    <label asp-for="FechaCheckin" class="control-label">Fecha de Check-In</label>
                    <input asp-for="FechaCheckin" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="updateTarifa()" />
                    <span asp-validation-for="FechaCheckin" class="text-danger"></span>
                </div>

                <!-- FechaCheckOut -->
                <div class="form-group mb-3">
                    <label asp-for="FechaCheckOut" class="control-label">Fecha de Check-Out</label>
                    <input asp-for="FechaCheckOut" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="updateTarifa()" />
                    <span asp-validation-for="FechaCheckOut" class="text-danger"></span>
                </div>


                <!-- Cantidad de días -->
                <div class="form-group">
                    <label for="CantidadDias" class="control-label">Cantidad de días</label>
                    <input id="CantidadDias" class="form-control" type="number" min="1" value="1" readonly />
                </div>

                <!-- TotalReserva -->
                <div class="form-group mb-4">
                    <label for="TotalReserva" class="control-label">Total de la reserva</label>
                    <input id="TotalReserva" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <input type="submit" value="Facturar" class="btn btn-primary" />
                </div>

            </form>

        </div>

    </div>

    <div class="row ">

        <div class="col-md-12 border p-4" id="resultadosBusqueda" style="display: none;">

            <h4>Resultados de Búsqueda</h4>

            <table class="table">

                <thead>
                    <tr>
                        <th>Número Identidad</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Correo Electrónico</th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody id="tablaResultadosBody">
                    <!-- Aquí se agregarán dinámicamente las filas de resultados -->
                </tbody>

            </table>

        </div>

    </div>

</div>


@section Scripts 
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

        $(document).ready(function () {
            $('#FechaCheckin, #FechaCheckOut').change(function () {
                var checkin = new Date($('#FechaCheckin').val());
                var checkout = new Date($('#FechaCheckOut').val());

                // Validar que la fecha de check-in sea anterior a la fecha de check-out
                if (checkin >= checkout) {
                    alert("La fecha de check-in debe ser anterior a la fecha de check-out.");
                    $('#FechaCheckin').val('');
                    $('#FechaCheckOut').val('');
                    $('#CantidadDias').val('');
                    return;
                }

                var diffInMs = checkout - checkin;
                var diffInDays = diffInMs / (1000 * 60 * 60 * 24);

                // Validar que la diferencia de días sea positiva
                if (diffInDays < 0) {
                    alert("La fecha de check-in debe ser anterior a la fecha de check-out.");
                    $('#FechaCheckin').val('');
                    $('#FechaCheckOut').val('');
                    $('#CantidadDias').val('');
                    return;
                }

                $('#CantidadDias').val(diffInDays);
                calcularTotalReserva(); // Llamar a la función para actualizar el total de la reserva
            });
            $('#btnBuscarUsuario').click(function () {
                buscarUsuario();
            });
            $('#NumeroIdentidad, #Nombre, #Telefono, #Direccion').keydown(function (e) {
                if (e.keyCode === 13) {  // Verificar si se presiona la tecla Enter
                    buscarUsuario();
                    e.preventDefault();
                }
            });
        });

        function updateTarifa() {
            var habitacionId = $("#IDHabitacion").val();

            if (habitacionId) {
                $.ajax({
                    url: '@Url.Action("GetTarifa", "Reservas")',
                    type: 'GET',
                    data: { id: habitacionId },
                    success: function (tarifa) {
                        // Formatear el valor como moneda con símbolo L
                        var formattedTarifa = parseFloat(tarifa).toLocaleString('es-US', {
                            style: 'currency',
                            currency: 'HNL', // Cambia a la moneda local correspondiente
                            minimumFractionDigits: 2
                        });

                        $("#TarifaHabitacion").val(formattedTarifa);

                        // Calcular el total de la reserva
                        var cantidadDias = parseFloat($("#CantidadDias").val());
                        if (!isNaN(cantidadDias)) {
                            var totalReserva = parseFloat(tarifa) * cantidadDias;

                            // Formatear el total como moneda con símbolo L
                            var formattedTotal = totalReserva.toLocaleString('es-US', {
                                style: 'currency',
                                currency: 'HNL', // Cambia a la moneda local correspondiente
                                minimumFractionDigits: 2
                            });

                            $("#TotalReserva").val(formattedTotal);
                        } else {
                            $("#TotalReserva").val('');
                        }
                    },
                    error: function () {
                        console.log("Error al obtener la tarifa de la habitación");
                        $("#TarifaHabitacion").val('');
                        $("#TotalReserva").val('');
                    }
                });
            } else {
                $("#TarifaHabitacion").val('');
                $("#TotalReserva").val('');
            }
        }

        function buscarUsuario() {
            // Obtener valores de los campos de búsqueda
            var numeroIdentidad = $("#NumeroIdentidad").val();
            var nombre = $("#Nombre").val();
            var telefono = $("#Telefono").val();
            var direccion = $("#Direccion").val();
            var userName = $("#CorreoElectronico").val();

            // Realizar la búsqueda del usuario
            $.ajax({
                url: '@Url.Action("SearchUsers", "Reservas")',
                type: 'GET',
                data: {
                    numeroIdentidad: numeroIdentidad,
                    nombre: nombre,
                    telefono: telefono,
                    direccion: direccion,
                    userName: userName
                },
                success: function (usuarios) {
                    // Limpiar resultados anteriores
                    $("#tablaResultadosBody").empty();

                    // Verificar si se encontraron usuarios
                    if (usuarios.length > 0) {
                        // Mostrar la tabla de resultados
                        $("#resultadosBusqueda").show();

                        // Iterar sobre los usuarios y agregar filas a la tabla
                        for (var i = 0; i < usuarios.length; i++) {
                            var usuario = usuarios[i];

                            // Construir la fila de la tabla
                            var fila = `<tr>
                                            <td>${usuario.numeroIdentidad}</td>
                                            <td>${usuario.nombre}</td>
                                            <td>${usuario.telefono}</td>
                                            <td>${usuario.direccion}</td>
                                            <td>${usuario.userName || 'N/A'}</td>
                                            <td><button class='btn btn-primary' onclick='seleccionarUsuario("${encodeURIComponent(usuario.id)}", "${encodeURIComponent(usuario.numeroIdentidad)}", "${encodeURIComponent(usuario.nombre)}", "${encodeURIComponent(usuario.telefono)}", "${encodeURIComponent(usuario.direccion)}", "${encodeURIComponent(usuario.userName)}")'>Seleccionar</button></td>
                                          </tr>`;

                            // Agregar la fila a la tabla
                            $("#tablaResultadosBody").append(fila);
                        }
                    } else {
                        // Ocultar la tabla de resultados si no se encontraron usuarios
                        $("#resultadosBusqueda").hide();
                        alert("Usuario no encontrado");
                    }
                },  
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error al buscar usuario");
                }
            });
        }

        function seleccionarUsuario(id, numeroIdentidad, nombre, telefono, direccion, userName) {
            $("#IDUsuario").val(id);
            $("#NumeroIdentidad").val(decodeURIComponent(numeroIdentidad));
            $("#Nombre").val(decodeURIComponent(nombre));
            $("#Telefono").val(decodeURIComponent(telefono));
            $("#Direccion").val(decodeURIComponent(direccion));
            $("#CorreoElectronico").val(decodeURIComponent(userName));
            $("#resultadosBusqueda").hide();
        }

    </script>

}