@model HotelManager.Models.Reserva

@{
    ViewData["Title"] = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar Reserva</h1>

<h3>¿Está seguro que quiere borrar la Reserva?</h3>
<div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDReserva" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
