@model HotelManager.Models.Reserva

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-center mt-5 pt-5">Redigiendo a Facturar...</h5>

<div style="display:none;">
    <dl class="row">
        <dt class = "col-sm-2">
            <p id="idReserva">@Model.IDReserva</p>
        </dt>
    </dl>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var idReserva = $('#idReserva').text();
            window.location.href = '@Url.Action("Create", "EncabezadoFacturas", new { idReserva = "__id__" })'.replace('__id__', idReserva);

        });
    </script>

}