@model HotelManager.Models.EncabezadoFactura

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-5 pt-5">Eliminar Factura</h1>

<h3>¿Está seguro que desea eliminar la Factura?</h3>
<div>
    <hr />
    
    <form class="btn-group" asp-action="Delete">
        <input type="hidden" asp-for="IDFactura" />
        <input type="submit" value="Si, estoy seguro." class="btn btn-danger" />
        <a class="btn btn-outline-warning" asp-action="Index">No, quiero volver.</a>
    </form>
</div>
