@model HotelManager.Models.Producto

@{
    ViewData["Title"] = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="mt-5" />
<hr class="mt-5" />
<h2 class="text-center border-bottom">Productos</h2>

<div>
    <a asp-action="Index">Regresar a Producto</a>
</div>

<div class="container">

    <div class="row m-4">

        <div class="col-md-4 border">

            <h4>Producto</h4>
            <form asp-action="Create" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label">Nombre de Producto </label>
                    <input asp-for="NombreProducto" class="form-control" />
                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                </div>

                <!-- Agrega el campo de correo electrónico -->
                <div class="form-group">
                    <label asp-for="PrecioUnitario" class="control-label">Precio Unitario</label>
                    <input asp-for="PrecioUnitario" class="form-control" />
                    <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Existencias" class="control-label">Existencias</label>
                    <input asp-for="Existencias" class="form-control" />
                </div>


                <!-- Añade el botón de búsqueda -->
                <div class="form-group mb-3">
                    <button type="button" class="btn btn-primary" id="btnBuscarProducto">Buscar Productos</button>
                </div>

                </form>

        </div>

  


    </div>

    <div class="row">

        <div class="col-md-12 border" id="resultadosBusqueda" style="display: none;">

            <h4>Resultados de Búsqueda</h4>

            <table class="table">

                <thead>
                    <tr>
                        <th>NombreProducto</th>
                        <th>Descripcion</th>
                        <th>PrecioUnitario</th>
                        <th>Existencias</th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody id="tablaResultadosBody">
                    <!-- Aquí se agregarán dinámicamente las filas de resultados -->
                </tbody>

            </table>

        </div>

    </div>

</div>


@section Scripts 
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

        $(document).ready(function () {
            $('#FechaCheckin, #FechaCheckOut').change(function () {
                var checkin = new Date($('#FechaCheckin').val());
                var checkout = new Date($('#FechaCheckOut').val());

                

                var diffInMs = checkout - checkin;
                var diffInDays = diffInMs / (1000 * 60 * 60 * 24);

                // Validar que la diferencia de días sea positiva
                if (diffInDays < 0) {
                    alert("La fecha de check-in debe ser anterior a la fecha de check-out.");
                    $('#FechaCheckin').val('');
                    $('#FechaCheckOut').val('');
                    $('#CantidadDias').val('');
                    return;
                }

                $('#CantidadDias').val(diffInDays);
                calcularTotalReserva(); // Llamar a la función para actualizar el total de la reserva
            });
            $('#btnBuscarProducto').click(function () {
                buscarProducto();
            });
            $('#NombreProducto, #Descripcion, #PrecioUnitario, #Existencias').keydown(function (e) {
                if (e.keyCode === 13) {  // Verificar si se presiona la tecla Enter
                    buscarProducto();
                    e.preventDefault();
                }
            });
        });

        function buscarProducto() {
            // Obtener valores de los campos de búsqueda
            var nombreProducto = $("#NombreProducto").val();
            var descripcion = $("#Descripcion").val();
            var precioUnitario = $("#PrecioUnitario").val();
            var existencias = $("#Existencias").val();

            // Realizar la búsqueda del usuario
            $.ajax({
                url: '@Url.Action("SearchProductos", "Producto")',
                type: 'GET',
                data: {
                    nombreProducto: nombreProducto,
                    descripcion: descripcion,
                    precioUnitario: precioUnitario,
                    existencias: existencias,
                },
                success: function (producto) {
                    // Limpiar resultados anteriores
                    $("#tablaResultadosBody").empty();

                    // Verificar si se encontraron usuarios
                   
                },  
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error al buscar Producto");
                }
            });
        }

        
    </script>

}