@{
    ViewData["Title"] = "Home Page";
}

<!-- ================ comienzo del área del banner ================= -->
<section class="home-banner-area" id="home">
    <div class="container h-100">
        <div class="home-banner">
            <div class="text-center">
                <h4>Descubre la diferencia que hace una estadía</h4>
                <h1>El lujo <em>es</em> personal</h1>
                <a class="button home-banner-btn" href="#">Reservar ahora</a>
            </div>
        </div>
    </div>
</section>
<!-- ================ fin del área del banner ================= -->
<!-- ================ comienzo del formulario del banner ================= -->
<!-- ================ fin del formulario del banner ================= -->
<!-- ================ comienzo de la sección de bienvenida ================= -->
<section class="welcome">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <div class="row no-gutters welcome-images">
                    <div class="col-sm-7">
                        <div class="card">
                            <img class="" src="img/home/welcomeBanner1.png" alt="Imagen de tarjeta">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card">
                            <img class="" src="img/home/welcomeBanner2.png" alt="Imagen de tarjeta">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <img class="" src="img/home/welcomeBanner3.png" alt="Imagen de tarjeta">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="welcome-content">
                    <h2 class="mb-4"><span class="d-block">Bienvenido</span> a nuestra residencia</h2>
                    <p>Comienza el segundo bendecido mientras se desliza. La oscuridad en la que los años de buen aire cuya semilla aparece en medio de la noche, aparece en el vacío, da tercero que se mueve en la firmeza reunida </p>
                    <p>Comienza el segundo bendecido mientras se desliza. La oscuridad en la que los años de buen aire cuya semilla aparece en medio de la noche, aparece en el vacío, da tercero que se mueve en la firmeza</p>
                    <a class="button button--active home-banner-btn mt-4" href="#">Aprende más</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ fin de la sección de bienvenida ================= -->
<!-- ================ comienzo de la sección de exploración ================= -->
<section class="section-margin">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
                <img src="img/home/bed-icon.png" alt="">
            </div>
            <h2>Explora nuestras habitaciones</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-explore">
                    <div class="card-explore__img">
                        <img class="card-img" src="img/home/explore1.png" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-explore__price">$150.00 <sub>/ Por noche</sub></h3>
                        <h4 class="card-explore__title"><a href="#">Habitación clásica</a></h4>
                        <p>Comienzo de cuarto dominio que se arrastra dios fue. Comienzo, que vuela, produce bestia seca movida bendita </p>
                        <a class="card-explore__link" href="#">Reservar ahora <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-explore">
                    <div class="card-explore__img">
                        <img class="card-img" src="img/home/explore2.png" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-explore__price">$170.00 <sub>/ Por noche</sub></h3>
                        <h4 class="card-explore__title"><a href="#">Habitación premium</a></h4>
                        <p>Comienzo de cuarto dominio que se arrastra dios fue. Comienzo, que vuela, produce bestia seca movida bendita </p>
                        <a class="card-explore__link" href="#">Reservar ahora <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-explore">
                    <div class="card-explore__img">
                        <img class="card-img" src="img/home/explore3.png" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-explore__price">$190.00 <sub>/ Por noche</sub></h3>
                        <h4 class="card-explore__title"><a href="#">Habitación familiar</a></h4>
                        <p>Comienzo de cuarto dominio que se arrastra dios fue. Comienzo, que vuela, produce bestia seca movida bendita </p>
                        <a class="card-explore__link" href="#">Reservar ahora <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ fin de la sección de exploración ================= -->
<!-- ================ comienzo de la sección especial ================= -->
<section class="section-padding bg-porcelain">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
                <img src="img/home/bed-icon.png" alt="">
            </div>
            <h2>Instalaciones especiales</h2>
        </div>
        <div class="special-img mb-30px">
            <img class="img-fluid" src="img/home/special.png" alt="">
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-special">
                    <div class="media align-items-center mb-1">
                        <span class="card-special__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h4 class="card-special__title">Sala de conferencias</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Bolsa de maids construida cese de su nuevo séptimo entre y. Tirado venado cuidado le respondió</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-special">
                    <div class="media align-items-center mb-1">
                        <span class="card-special__icon"><i class="ti-bell"></i></span>
                        <div class="media-body">
                            <h4 class="card-special__title">Piscina</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Bolsa de maids construida cese de su nuevo séptimo entre y. Tirado venado cuidado le respondió</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-special">
                    <div class="media align-items-center mb-1">
                        <span class="card-special__icon"><i class="ti-car"></i></span>
                        <div class="media-body">
                            <h4 class="card-special__title">Club deportivo</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Bolsa de maids construida cese de su nuevo séptimo entre y. Tirado venado cuidado le respondió</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ fin de la sección especial ================= -->
